b{
    color: #00BFFF;
}
.buttons{
    margin-top: 10%;
}
.forgot{
    margin-left: 58%;
    color: #00BFFF;
}
ion-item{
    border: 2px solid #00BFFF;
    margin:10px auto;
    border-radius: 15px !important;
}
p{
    font-size: 350%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25%;
}
.sign-up{
    margin-top: 10%;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}